h1 {
  text-align: center;
  color: #480000;
  font-family: chalkduster;
}
h3 {
  color: #480000;
  font-family: chalkboard SE Bold;
}

body {
  background-image: url("http://i95.photobucket.com/albums/l158/ejardeleza/bloodred.jpg");
  padding: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

a {
  color: #480000;
}
ul {
  padding: 10px;
}

li {
    color: #480000;
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
  }
ul#categoriesList {
  list-style-type: none;
}

ul#dishesList li {
    width: 25%;
    float: left;
    list-style-type: none;
  }

button {
    background-color: #480000;
    color: tan;
  }

img {
  width: 200px;
  height: 100px;
} 