h2 {
  text-align: center;
  color: #480000;
  font-family: helvetica;
}
h3 {
  color: #480000;
  font-family: helvetica;
}

a {
  color: #480000;
}
ul {
  padding: 10px;
  font-family: helvetica;
  font-size: 16px;
}

li {
    color: #480000;
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    font-family: helvetica;
  }
ul#categoriesList {
  list-style-type: none;
}

ul#dishesList li {
    width: 25%;
    float: left;
    list-style-type: none;
  }

button {
    background-color: #480000;
    color: tan;
  }

img {
  width: 150px;
  height: 100px;
} 

#sidebar {
  padding-left: 10px;
  position: absolute;
  float: left;
  height: 100%;
  width: 200px;
  background-color: tan;
}
#main {
  float: right;
  height: 100%;
  width: 970px;
  padding-left: 20px;

}

@media (max-device-width: 500px) {
  body {
    background-color: lightblue;
    margin: 0 auto;
  }
  li {
    /*display: block;*/
  }
}