h1 {
  text-align: center;
  color: tan;
  font-family: chalkduster;
}
h3 {
  color: tan;
  font-family: chalkboard SE Bold;
}

body {
  background-color: #101A1A;
  padding: 30px;

}

a {
  color: tan;
}
ul {
  padding: 10px;
}

li {
    color: tan;
    padding-bottom: 10px;
}
ul#dishesList li {
    width: 25%;
    float: left;
    list-style-type: none;
  }

button {
    background-color: tan;
    color: #101A1A;
  }

img {
  width: 200px;
  height: 100px;
} 